<mat-nav-list>
  <a mat-list-item routerLink="/signup" (click)="onClose()" *ngIf="!isAuth">
    <mat-icon matListIcon>face</mat-icon>
    <span>Signup</span>
  </a>
  <a mat-list-item routerLink="/login" (click)="onClose()" *ngIf="!isAuth">
    <mat-icon matListIcon>login</mat-icon>
    <span>Login</span>
  </a>
  <a mat-list-item routerLink="/training" (click)="onClose()" *ngIf="isAuth">
    <mat-icon matListIcon>fitness_center</mat-icon>
    <span>Training</span>
  </a>
  <mat-list-item>
    <button mat-icon-button (click)="onLogout()" *ngIf="isAuth" style="width: 100%;" fxLayoutAlign="flex-start">
      <mat-icon matListIcon>logout</mat-icon>
      <span>Logout</span>
    </button>
  </mat-list-item>
</mat-nav-list>